* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(red, green, blue);
}

li {
  list-style-type: none;
}

.btns {
  padding: 10px , 20px
   margin-right: 6px
